<div *ngFor="let course of courseList" class="card-body">

  <div class="row ">
    <div class="col-1">
      <div class="icon mr-2"></div>
    </div>
    <div class="col-3">
      <div class="description">
        {{course.description}}
        <div class="row">

          <div class="col-4" *ngFor="let tag of course.tags">
            <span class="badge">{{tag}}</span>
          </div>

        </div>

      </div>
    </div>

    <div class="col-2 align-middle">
      <span class="author">{{course.author}}</span>
    </div>

    <div class="col-5 align-middle">
      <i *ngIf="pathName == '/home'" class="fa fa-star mr-5" (click)="toggleWishlist(course.id)"
        [ngStyle]="{'color' : course.wishlisted ? '#F5E73C' : 'grey'}"></i>

      <span *ngIf="course.discounted_price !== null; else elseBlock">
        <span class="author mr-3">Rs {{course.discounted_price}}/-</span>
        <span class="author mr-5" style="font-size: 12px; color: grey;"><del> Rs {{course.actual_price}}/-</del></span>
      </span>

      <ng-template #elseBlock>
        <span class="author mr-5">Rs {{course.actual_price}}/-</span>
        <span class="author mr-5" style="font-size: 12px; color: grey;"><del>-</del></span>
      </ng-template>

      <button (click)="addToCart(course)" class="btn custom-bg-color btn-sm mr-3" type="button">
        ADD TO CART
      </button>

      <i *ngIf="pathName == '/wishlist'" class="fa fa-trash ml-5" (click)="removeWishlist(course.id)"
        style="font-size: larger; cursor: pointer;"></i>

      <i class="fa fa-angle-right ml-3" (click)="navigateToCourseDetails(course.id)"
        [ngStyle]="{'color' : true ? 'grey' : 'yellow', 'cursor': 'pointer'}"></i>
    </div>

  </div>

</div>
