<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../nav-bar/../../../../assets/Logo-2.png" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 flexed">
        <li class="nav-item">
          <a class="nav-link active bold f-16 me-3" href="/home">COURSES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link f-16 me-3" href="/wishlist">MY WISHLIST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="/cart">
            <img src="../nav-bar/../../../../assets/shopping-cart.png" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="/profile">
            <i class="fa fa-user"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
